<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop 
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<!-- <value>oracle.jdbc.driver.OracleDriver</value> -->
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<!-- <value>jdbc:oracle:thin:@10.0.0.158:1521:orcl</value> -->
			<value>jdbc:mysql://localhost:3306/dms?characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC</value>
		</property>    
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>965200</value>
		</property>
	</bean>
	<!-- 配置mybitasSqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:MyBatis-Configuration.xml"></property>
	</bean>
	<!-- 配置SqlSessionTemplate -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
	    <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<!-- 事务配置 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- Dao配置 -->
	<bean id="customerCarInfoDao" class="com.dms.dao.impl.CustomerCarInfoDaoImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	<!--  
	<bean id="theMiantenance" class="com.dms.dao.impl.TheMaintenanceDaoImpl">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>
	-->
	<!-- service配置 -->
	<bean id="customerCarInfoServiceImpl" class="com.dms.service.impl.CustomerCarInfoServiceImpl">
		<property name="customerCarInfoDao" ref="customerCarInfoDao"/>
	</bean>
	<!--  
	<bean id="theMaintenanceServiceImpl" class="com.dms.service.impl.TheMaintenanceServiceImpl">
		<property name="theMiantenance" ref="theMiantenance"></property>
	</bean>
	-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>