<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.dms.entity" />
	</typeAliases>
	<mappers>
		<mapper resource="com/dms/dao/mybatis/CustomerCarInfoMapper.xml"/>

		<mapper resource="com/dms/dao/mybatis/RepairTypeMapper.xml"/>
		<mapper resource="com/dms/dao/mybatis/EmployeeMapper.xml"/>
		<mapper resource="com/dms/dao/mybatis/OrderMapper.xml"/>
		<mapper resource="com/dms/dao/mybatis/OrderIdBuildMapper.xml"/>
        <mapper resource="com/dms/dao/mybatis/SettlementMapper.xml"/>  
        <mapper resource="com/dms/dao/mybatis/AdminPowersMapper.xml"/>  
	</mappers>
</configuration>
